<app-header title="equiTrack"></app-header>

<ion-content class="content">
  <div class="container">
    <div class="block" routerLink="/horses">
      <ion-icon name="ribbon" class="icon"></ion-icon>
      <p class="text">Caballos</p>
    </div>

    <div class="block" routerLink="/employees">
      <ion-icon name="people" class="icon"></ion-icon>
      <p class="text">Empleados</p>
    </div>

    <div class="block" routerLink="/trainings">
      <ion-icon name="fitness" class="icon"></ion-icon>
      <p class="text">Entrenamientos</p>
    </div>
  </div>
</ion-content>