<app-header backButton="/home" title="Tareas"></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <ion-item-divider color="primary" mode="ios">
          <ion-label>
            <h2>Tareas Asignadas</h2>
          </ion-label>
        </ion-item-divider>
      </ion-col>
      <ion-col size="12" size-md="4" *ngFor="let task of tasks" class="ion-padding">
        <div *ngIf="task.status">
          <ion-item lines="none">
            <ion-checkbox slot="start" (ionChange)="checkboxClick(task)" mode="ios" labelPlacement="end">
              <h2 class="task-name">{{ task.name }}</h2>
              <p class="task-detail">{{ task.detail }}</p>
            </ion-checkbox>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding ion-padding-vertical">
      <ion-col size="12">
        <ion-item-divider color="primary" mode="ios">
          <ion-label>
            <h2>Tareas Finalizadas</h2>
          </ion-label>
        </ion-item-divider>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-item-sliding *ngFor="let task of tasks" class="ion-padding">
            <div *ngIf="!task.status">
              <ion-item lines="none">
                  <h2 class="task-name">{{ task.name }}</h2>
              </ion-item>
            </div>
            <ion-item-options side="end" class="ion-padding">
              <ion-button color="danger" (click)="deleteTodo(task)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item-options>
            <ion-item-options side="start" class="ion-padding">
              <ion-button color="primary" (click)="addUpdateTask(task)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Añadir tarea -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding" *appShowForRoles="['admin', 'trainer']">
    <ion-fab-button (click)="addUpdateTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>