.task-name {
    font-size: 1.1em;    
    font-weight: bold;   
    color: var(--ion-color-primary); 
}

.task-detail {
    font-size: 0.9em;   
    color: var(--ion-color-medium); 
    margin-top: 2px;
}